
li{
    position: relative;
}
button{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: white !important;
}
button:hover{
    background-color: rgb(13,110,253) !important;
}